

.container{
    display:flex;
    justify-content: space-evenly;
}

.error-image >img{
    /* width:40rem;   */
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;  

    height: 447.4263916015625px;
    width: 539.2236938476562px;
    left: 77px;
    top: 265px;
    border-radius: 0px;

    
}

.first-text{
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;

    color: #333333;
}

.second-text{
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;

    color: #4F4F4F;
}

.back-home{
    position: absolute;
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: #000000;
}

.back-home >p{  
 margin-top: 1.5rem;
}

footer{
    position: absolute;
    width: 226px;
    height: 17px;
    left: 607px;
    top: 1024px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    /* identical to box height */
    color:#000000;

}





